@use "../utils/" as *;

/*HEADER*/

.header {
  background-color: $thirdly;
  position: relative;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 40%);

  h1 {
    font-family: "Shrikhand", "cursive";
    margin-bottom: 0;
  }
}

.header__arrow {
  position: absolute;
  left: 5%;
  top: 45%;
  font-size: 30px;
  font-style: none;
}

a {
  color: initial;
}

/*END HEADER*/
